* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --transition-time: 0.5s;

  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

header {
  padding: 1rem 0rem;
  background-color: #333;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: all var(--transition-time);
}

button:hover {
  background-color: #fff;
  color: #333;
}
button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  background-color: #717171;
  color: #fff;
  cursor: not-allowed;
}

.players {
  font-size: 2rem;
  padding: 2rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.players .player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.players button {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game .reset {
  width: 100px;
  height: 70px;
  font-size: 1.25rem;
}

.game .board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game .board .cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: all var(--transition-time);

  display: flex;
  justify-content: center;
  align-items: center;
}

.game .board .cell:hover {
  background-color: #717171;
  color: #fff;
}

.game .board .cell.disabled {
  opacity: 0.5;
  background-color: #717171;
  color: #fff;
  cursor: not-allowed;
}

.game-status {
  background-color: #717171;
  margin-top: 2rem;
  padding: 1rem 0rem;
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
