* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --transition-time: 0.5s;

  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

header {
  padding: 1rem 0rem;
  background-color: #333;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  font-size: 2rem;
  padding: 2rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.players .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players button {
  padding: 1.25rem 2.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all var(--transition-time);
}

.players button:hover {
  background-color: #fff;
  color: #333;
}

.players button:active {
  transform: scale(0.9);
}

.players button:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game .start {
  font-size: 1.25rem;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: all var(--transition-time);
}

.game .start:hover {
  background-color: #fff;
  color: #333;
}

.game .start:active {
  transform: scale(0.9);
}

.game .start:focus {
  outline: none;
}

.game .board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game .board .cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0.5rem;
}
